<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}My Website{% endblock %}</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <!-- Header -->
    <header>
        <h1>DSA_TRACKER</h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="/">Home</a>
        <a href="/user/login">Login</a>
        <a href="/about">About</a>
    </nav>

    <!-- Main Page Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p> 2026 My Website</p>
    </footer>

    <!-- JavaScript Files -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>