<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DSA Tracker Dashboard</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

  <div class="dashboard">

    <!-- ================= SIDEBAR ================= -->

    <aside class="sidebar">

      <div class="logo">
        <i class="fa-solid fa-code"></i>
        <h2>DSA_TRACKER</h2>
      </div>

      <ul>
        <div class="hamburger">☰</div>
        <li class="active">
          <a href="/dashboard">
            <i class="fa-solid fa-house"></i>
            Dashboard
          </a>
        </li>

        <li>
          <a href="/problem/topic">
            <i class="fa-solid fa-book"></i>
            Topics</a>
        </li>

        <li>
          <a href="/problem/view">
            <i class="fa-solid fa-list-check"></i>
            Problems</a>
        </li>
      </ul>

      <div class="motivation">

        <h3>🏆 Keep Going!</h3>

        <p>
          Consistency is the key to mastering Data Structures
          and Algorithms.
        </p>

      </div>

    </aside>

    <!-- ================= MAIN ================= -->

    <main class="main-content">

      <!-- ================= TOPBAR ================= -->



      <!-- ================= WELCOME ================= -->
      <header class="topbar">

        <section class="welcome">

          <div>

            <h1>

              Welcome, {{ username }}
              👋

            </h1>

            <p>

              Track your coding journey and stay consistent.

            </p>

          </div>

        </section>


        <div class="right">



          <div class="profile">

            <img src="https://ui-avatars.com/api/?name={{ username }}&background=2563eb&color=fff" alt="">
            <a href="/user/logout">

              <span>{{ username }}<br> Logout </span>
            </a>
          </div>




        </div>
      </header>

      <!-- ================= CARDS ================= -->

      <section class="cards">

        <div class="card total">

          <div>

            <h4>Total Problems</h4>

            <h2>{{ total }}</h2>

          </div>

          <i class="fa-solid fa-code"></i>

        </div>

        <div class="card easy">

          <div>

            <h4>Easy</h4>

            <h2>{{ easy }}</h2>

          </div>

          <i class="fa-solid fa-face-smile"></i>

        </div>

        <div class="card medium">

          <div>

            <h4>Medium</h4>

            <h2>{{ medium }}</h2>

          </div>

          <i class="fa-solid fa-bolt"></i>

        </div>

        <div class="card hard">

          <div>

            <h4>Hard</h4>

            <h2>{{ hard }}</h2>

          </div>

          <i class="fa-solid fa-fire"></i>

        </div>

      </section>

      <!-- ================= GRID ================= -->

      <section class="grid">

        <!-- LEFT -->

        <div class="recent">

          <div class="buttons">

            <a href="/problem/add" class="btn primary">

              + Add Problem

            </a>

            <a href="/problem/view" class="btn success">

              View Problems

            </a>

          </div> <br><br>

          <div class="section-title">

            <h2>Recent Problems</h2>

            <a href="/problem/view">

              View All

            </a>

          </div>

          <div class="table-container">

            <table>

              <thead>

                <tr>

                  <th>Problem</th>
                  <th>Difficulty</th>
                  <th>Platform</th>
                  <th>Link</th>

                </tr>

              </thead>

              <tbody>


                {% for problem in problems %}

                <tr>

                  <td>{{ problem['title'] }}</td>

                  <td>{{ problem['difficulty'] }}</td>

                  <td>{{ problem['platform'] }}</td>

                  <td><a href="{{ problem['problem_link'] }}" target="_blank"> Link </a></td>



                </tr>

                {% endfor %}

              </tbody>

            </table>

          </div>



        </div>
        <!-- ================= RIGHT PANEL ================= -->

        <div class="right-panel">

          <!-- Pie Chart -->

          <div class="box">

            <h3>Problems by Difficulty</h3>

            <div class="chart">

              <img src="{{ url_for('analytics.pie_chart') }}" alt="Pie Chart">

            </div>

          </div>

    </main>

  </div>
  <script>
    document.querySelector(".hamburger").addEventListener("click", () => {
      document.querySelector(".sidebar").classList.toggle("active");
    });

  </script>



</body>

</html>