<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DSA Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>

    <div>
        <h1>
            {% block title %}DSA_TRACKER{% endblock %}
        </h1>
    </div>

    {% block content %}



    <div class="container mt-4">

        <!-- Welcome Section -->
        <div class="row mb-4">
            <div class="col">
                <h2>Welcome, {{ username }} 👋</h2>
                <p class="text-muted">
                    Track your coding journey and stay consistent.
                </p>
            </div>
        </div>

        <!-- Statistics Cards -->
        <div class="row">

            <div class="col-md-3 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body text-center" method="POST">
                        <a href="{{ url_for('problem.add_problem') }}">
                            <h5>+ Add Problems</h5>
                            <h2>{{ add_problem }}</h2>
                        </a>
                    </div>
                </div>
            </div>



            <div class="col-md-3 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body text-center" method="GET">
                        <a href="{{ url_for('problem.view_problem') }}">
                            <h5>View Problems</h5>
                            <h2>{{ View_problems }}</h2>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Buttons 
    <div class="my-4">
        <a href="{{ url_for('problems.add_problem') }}"
           class="btn btn-primary">
            + Add Problem
        </a> --->
        {% endblock %}


    </div>

</body>