<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">

</head>

<body>
    <h1 ALIGN="center"><i>"Code With Me"</i></h1>
    <form method="POST" action="/user/register">

        <!-- Google -->
        <a href="https://accounts.google.com/login" class="social-btn" target="_blank">
            <img src="{{ url_for('static', filename='google.jpg') }}" alt="google"
                style="width:20px; height:20px;">Google
        </a>
        <i class="fa-brands fa-google google"></i>


        </a>

        <div class="social-row">

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/login" class="social-btn social-small" target="_blank">
                <img src="{{ url_for('static', filename='linkdlin.png') }}" alt="linkdlin"
                    style="width:20px; height:20px;">LinkedIn
            </a>
            <i class="fa-brands fa-linkedin linkedin"></i>


            </a>

            <!-- GitHub -->
            <a href="https://github.com/login" class="social-btn social-small" target="_blank">
                <img src="{{ url_for('static', filename='github.png') }}" alt="Github"
                    style="width:20px; height:20px;">Github
            </a>
            <i class="fa-brands fa-github github"></i>


            </a>

        </div>
        <div class="divider">
            <hr>

            <hr>
        </div>
        <div class="form-box" >

            <input type="text" name="username" placeholder="Enter your Username" required>
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your Password" required>
            <button class="big" type="submit">Submit</button>
            <h6><i>Already User:</i></h6> <a href="/user/login">
                <h5>Login</h5>
            </a>
        </div>
    </form>
</body>

</html>