<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSA_TRACKER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">

</head>

<body>
    <form method="POST" action="/user/register">
        </div>
        <div class="divider">
            <hr>

            <hr>
        </div>
        <div class="form-box" >

            Username :<input type="text" name="username" placeholder="Enter your Username" required>
            Password :<input type="password" name="password" placeholder="Enter your Password" required>
            <button class="big" type="submit">Submit</button>
            <h6><i>Already User:</i></h6> <a href="/user/login">
                <h5>Login</h5>
            </a>
        </div>
    </form>
</body>

</html>